doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} - App name
        meta(name="description", content='')
        meta(name='theme-color' content='#4DA5F4')
        link(rel='stylesheet', href='/css/bootstrap.min.css' crossorigin="anonymous")
        block script

    body
        include partials/header

        .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3  
            block content

        include partials/footer
