extends ../layout

block append style
    style.
        .thumb_set{
            width:25%
        }
        .img_col{
            width:100%
        }

block content
    h1 start gallery
    p= imgs_src.length
    .row
        each img_src in imgs_src
            .col
                img(src="medias/"+img_src).img_col
                //- p= img_src