extends ../layout

block append style 
  style.
    .set_display{
      width: 100%;
    }
    .set_thumb{
      width: 200px;
    }

block content
  h3= video_path
  video(src=video_path, controls, autoplay).set_display
  a(href="/video_center", aria-pressed="true").btn.btn-info Video Center