extends ../layout

block append style
    style.
        body {
            margin: 5px;
            position: relative;
            background-color: #eee;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }
        .column {
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
        }
        .column video {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }

block scripts
    script.
        function createparagraph() {
            var x = document.createElement("p");
            var t = document.createTextNode("Paragraph is created.");
            x.appendChild(t);
            document.body.appendChild(x);
        }

        function videoThumb(video_url){
            var video = document.createElement('video');
            video.src = vidoe_url;
            var canvas = document.createElement('canvas');
        }

block content
    h1 Video Center
    //- .row
    //-   each vlink in vlist
    //-     .col.column
    //-       a(href="/video_play?video_path="+"videos/"+vlink)
    //-         video(src="videos/"+vlink+"#t=20")
    button(onclick="createparagraph()")
        p CreateParagraph
    p(onload="createparagraph()") isi
//- https://stackoverflow.com/questions/40143958/javascript-generate-video-thumbnail-from-video-url
